
/* Primary */

$blue: (
 900: #004c97,
 800: #0f69b6,
 700: #1779c8,
 600: #218bda,
 500: #2999e7,
 400: #48a7ea,
 300: #68B7ed,
 200: #92cbf2,
 100: #bbdff7,
 50: #e3f2fb
);

$green: (
 900: #00651c,
 800: #008432,
 700: #00963d,
 600: #00A84A,
 500: #12b752,
 400: #49c36d,
 300: #6ece87,
 200: #9adbaa,
 100: #c2e9cb,
 50: #e6f6ea,
);

/* Secondary */

$yellow: (
 900: #e2c35d,
 800: #d88771,
 700: #ffa300,
 600: #ffb401,
 500: #ffc309,
 400: #FFCB29,
 300: #ffd650,
 200: #ffe183,
 100: #ffedb3,
 50: #fff8e1
);

$red-dark: (
 900: #862633,
 700: #992c35,
 600: #ad3238,
 500: #bb3739,
 400: #c74850,
 300: #d3616b,
 200: #e18b92,
 50: #f8e2e4
);

$red-light: (
 900: #c10f25,
 700: #dd2839,
 600: #EF3340,
 500: #fe3c40,
 400: #f7515a,
 300: #eb737b,
 200: #f39ba0,
 50: #ffebf0
);

/* Neutral color */

$gray: (
 900: #2c2f33,
 800: #3e444a,
 700: #4e5660,
 600: #5f6a76,
 500: #6c7887,
 400: #828c98,
 300: #99a0a9,
 200: #b7bbc0,
 100: #d5d6d7,
 50: #eeeeee,
 black: #000,
 white: #fff
);



/* Feedback color */

$error: #dd2839;

$blue-dark: #07294a;

$modal: #2c4965;

.primary-900 {
  color: map-get($blue, 900);
}

.primary-600 {
  color: map-get($blue, 600);
}

.blue-dark {
  color: $blue-dark;
}

$gradient: (
  default: linear-gradient(to left, map-get($green, 600), map-get($blue, 500) 30%, map-get($blue, 900))
)


