@import './assets/scss/includes.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto';
    @include font-size-line-weight(16, 16);
    color: $blue-dark;
}

.container-todo-app {
    @include todo-app-container();
}

.button {
    background-color: transparent;
    outline: none;
    border: none;

    &:focus,
    &:hover {
        outline: none;
        border: none;
    }
}