@import './assets/scss/includes.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto';
    @include font-size-line-weight(16, 16);
    color: $blue-dark;
    background-image: linear-gradient(120deg, map-get($yellow, 900), map-get($yellow, 800));
}

.container-todo-app {
    @include todo-app-container();
}